<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('app_main') }}">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo ResaLab" height="30"
                 class="d-inline-block align-text-top me-2">
            ResaLab
        </a>
        {# {{ dump(app.request) }} #}
        {# Autre syntaxe pour checker si une route commence par une chaine #}
        {# {{ app.request.get('_route') starts with 'admin' ? 'active' : '' }} #}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_main' ? 'active' : '' }}"
                       aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'admin_resource_index' ? 'active' : '' }}"
                       href="{{ path('admin_resource_index') }}">
                        Liste des ressources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'admin_resource_new' ? 'active' : '' }}"
                       href="{{ path('admin_resource_new') }}">
                        Ajouter une ressource
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bonjour {{ app.user.userIdentifier }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
