<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('app_main') }}">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo ResaLab" height="30" class="d-inline-block align-text-top me-2">
            ResaLab
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_resource_index') }}">
                        Liste des ressources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_resource_new') }}">
                        Ajouter une ressource
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
