{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="mb-3">Connexion</h1>
                    <div class="mb-3">
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-primary btn-lg" type="submit">
                        Se connecter
                    </button>
                </form>

                {# On ajout ici nos liens 'Mot de passe oublié' et 'Renvoyer le mail de confirmation' #}
                <div class="mt-3">
                    <ul class="nav justify-content-start">
                        <li class="nav-item me-3"><a class="p-0 nav-link" href="{{ path('app_resend_verify_email') }}">Renvoyer l'email de confirmation</a></li>
                        <li class="nav-item"><a class="p-0 nav-link" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
